body {
    background: rgb(241,101,33);
    background: linear-gradient(180deg, rgba(241,101,33,1) 0%, rgba(33,63,153,1) 83%);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
}

#logo {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 4%;
    top: 5%;
}

#navbar {
    width: fit-content;
    position: absolute;
    left: 25%;
    top: 9%;
}
#content {
    margin: auto;
    margin-top: 15%;
    width: fit-content;
}
#content h1 {
    font-size: 6em;
    overflow: auto;
    width: 800px;
    margin-bottom: 0px;
}
#content p {
    font-size: 1.5em;
}

#footer {
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    color: white;
    margin: 25px;
    font-size: 1.5em;
}

a:link { 
    text-decoration: none;
}